<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
  (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
        [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true">
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header ml-2">Menú Principal</div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <div class="vsm-item">
              <a [routerLink]="['/']" routerLinkActive="active-item"
                [routerLinkActiveOptions]="{ exact: true }" class="vsm-link mb-1">
                <i class="vsm-icon pe-7s-piggy"></i>
                <span class="vsm-title">Crear Producto</span>
              </a>
            </div>
            <div class="vsm-item">
              <a [routerLink]="['/podruct-list']" routerLinkActive="active-item"
                [routerLinkActiveOptions]="{ exact: true }" class="vsm-link mb-1">
                <i class="vsm-icon pe-7s-wallet"></i>
                <span class="vsm-title">Listado de productos</span>
              </a>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
