<div class="h-100">
  <div class="row h-100 no-gutters">
    <div class="d-none d-lg-block col-lg-4">
      <div class="slider-light">
        <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel" [config]="slideConfig2">
          <div ngxSlickItem>
            <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate">
              <div class="slide-img-bg"></div>
              <div class="slider-content text-light">
                <h3>Pantalla Responsive</h3>
                <p>
                   Se deja este campo como muestra del responsive.
                </p>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
    <div class="h-100 d-flex bg-color justify-content-center align-items-center col-md-12 col-lg-8">
      <div class="mx-auto col-md-12 bg-color h-45">
        <div class="app-logo"></div>
        <h1 class="text-center">
          <strong>Registro de inventario</strong>
        </h1>
        <div class="divider"></div>
        <div>
					<form [formGroup]="productForm" (ngSubmit)="create()">
            <div class="row">
              <div class="col-md-12">
                <fieldset class="form-group">
                  <input formControlName="name" type="text" placeholder="Nombre del usuario" class="form-control">
                </fieldset>
              </div>
              <div class="col-md-6">
                <select id="products" formControlName="product_id"  class="form-control bg-color-intput">
                  <option value="" disabled selected>Productos</option>
                  <option *ngFor="let product of productList" value="{{product.id}}">{{product.name}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <fieldset class="form-group">
                    <input formControlName="serie" type="number" placeholder="Número de serie" class="form-control">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset class="form-group">
                  <input formControlName="activate_at" type="date" class="form-control">
                </fieldset>
              </div>
            </div>
            <div class="divider"></div>
            <div class="d-flex align-items-center">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="!this.productForm.valid">Guardar y enviar</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


