<div class="mx-auto col-md-12 bg-color h-45">
  <div class="app-logo"></div>
  <h1 class="text-center">
    <strong>Entregar de inventario</strong>
  </h1>
  <div class="divider"></div>
  <div>
    <div class="card w-100 mb-3" *ngFor="let record of recordList">
      <div class="card-body  text-center card-u">
        <h3 class="card-title mb-0"><strong>{{record.product.name}}</strong></h3>
        <p class="card-text mb-0 fs-2">{{record.serie}}</p>
        <button class="btn btn-success btn-lg w-100" *ngIf="record.status === true" [disabled]="record.status">Entregado</button>
        <button type="submit" class="btn btn-primary btn-lg w-100" *ngIf="record.status === false" (click)="send(record.id)">Entregar</button>
      </div>
    </div>
  </div>
</div>
